@import url('./variable.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/* header section */
header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    border-bottom: 1px solid rgb(238, 238, 238);
    z-index: 1000;
    background-color: var(--color-white);
}

.logo, .location, .search-bar, .login, .cart{
    margin: 0px 25px;
}

.logo svg{
    width: 80%;
    height: 20px;
}

.location .location-title{
    font-size: 13px;
    font-weight: var(--fw-800);
    margin-bottom: 3px;
    letter-spacing: 0.5px;
}

.location .desc{
    font-size: 11px;
}

.desc .fa-sort-down{
    transform: translateY(-2px);
    padding-left: 5px;
}

.search-bar{
   width: 59%;
   border: 1px solid rgba(0, 0, 0, 0.04);
   border-radius: 5px;
   background-color: var(--color-grey-2); 
   color: var(--color-grey);
   height: 38px;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 13px;
}

.search-bar input{
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: var(--fw-700);
    width: 100%;
}

.search-input{
    width: 100%;
}

.search-bar .fa-magnifying-glass{
   width: 13px;
   color: var(--color-black);
}

.login{
  font-size: 14px;    
  color: var(--color-grey);
}

.cart button{
    padding: 13px;
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 5px;
    font-size: 12px;
    font-weight: var(--fw-700);
    border: none;
}

/* main section */
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 68px;
}

.main-container{
    max-width: 1100px;
}

.banner img{
    width: 100%;
}

.banner-2{
    display: flex;
    gap: 20px;
    overflow: auto scroll;
    margin: 0 14px;
    border-radius: 5px;
}

.banner-2::-webkit-scrollbar{
    display: none;
}

.banner-2 .banner-img img{
    height: 165px;
    width: 290px; 
}

.categories{
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

.section-3-img img{
    width: 100%;
}

.items{
    display: flex;
    flex-direction: column;
    margin: 14px;
    row-gap: 20px;
}

.items .title{
    display: flex;
    justify-content: space-between;
}

.title .category-name{
    font-weight: var(--fw-700);
}

.title a{
    color: var(--color-green);
    text-decoration: none;
}

.list-items{
    display: flex;
    column-gap: 20px;
}

.list-items .item{
    width: 16%;
    border: 0.5px solid rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    border-radius: 8px;
    padding: 20px;
}

.item .item-img img{
    width: 100%;
}

.item-details{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.item-details .timer{
    font-size: 8px;
    font-weight: bolder;
    background-color: var(--color-grey-2);
    width: 36%;
    padding: 3px;
}

.item-details .item-name{
    font-size: 12px;
    font-weight: var(--fw-800);
}

.item-details .item-weight{
    font-size: 10px;
    color: var(--color-grey);
}

.item-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-price .price{
    font-size: 10px;
    font-weight: var(--fw-800);
}

.item-price button{
    font-size: 10px;
    font-weight: var(--fw-800);
    text-transform: uppercase;
    padding: 3px 9px;
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 4px;
    background-color: var(--color-lightest-green);
}

 footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    top: 85px;
    background-color: var(--color-grey-2);
}

.fa-heart{
    color: red;
    margin: 4px;
}


@media  screen and (min-width:320px) and (max-width: 480px) {
    .logo, .location, .search-bar, .login, .cart {
        margin: 0px 3px;
    }
    
    header .container {
        height: 50px;
    }

    .location .location-title {
        font-size: 6px;
    }

    .logo svg {
        width: 100%;
        height: 13px;
    }

    .logo{
        text-align: center;
        width: 11%;
    }

    .location .desc{
        font-size: 6px;
    }

    .search-bar {
        width: 34%;
        height: 8px;
        padding: 10px;
        gap: 3px;
    }

    .login {
        font-size: 9px;
    }

    .cart button {
        padding: 8px;
        font-size: 6px;
    }

    .location{
        width: 24%;
    }

    .search-bar .fa-magnifying-glass {
        width: 8px;
    }

    .search-bar input {
        font-size: 8px;

    }

    .search-input {
        margin-bottom: 6px;
    }

    .main-container {
        max-width: 80%;
    }

    .banner img {
        width: 100%;  
    }

    .banner-2 {
        margin: 0 4px;
        gap: 5px;
    }

    .banner-2 .banner-img img {
        width: 70px;
        height: 38px;
    }

    .desc .fa-sort-down {
        transform: translateY(-1px);
        padding-left: 2px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 55px;
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }

    .item-details .timer {
        width: 55%;
    }

    .list-items {
        display: grid;
        grid-template-columns: repeat(2,53%);
        width: 100%;
        gap: 1% 0%;
    }

    .list-items .item {
        width: 90%;
        padding: 10px;
    }

    .items {
        display: flex;
        flex-direction: column;
        margin: 22px;
        row-gap: 9px;
    }
}


@media screen and (min-width: 481px) and (max-width: 768px){
    .logo, .location, .search-bar, .login, .cart {
        margin: 0px 3px;
    }
    
    header .container {
        height: 50px;
    }

    .location .location-title {
        font-size: 9px;
    }

    .location .desc{
        font-size: 7px;
    }

    .logo svg {
        width: 75%;
        height: 20px;
    }

    .logo{
        text-align: center;
        width: 12%;
    }

    .search-bar {
        width: 44%;
        height: 0px;
        padding: 10px;
        gap: 3px;
    }

    .login {
        font-size: 9px;
    }

    .cart button {
        padding: 8px;
        font-size: 6px;
    }

    .location{
        width: 23%;
    }

    .search-bar .fa-magnifying-glass {
        width: 8px;
    }

    .search-bar input {
        font-size: 9px;

    }

    .search-input {
        margin-bottom: 6px;
    }

    .main-container {
        max-width: 80%;
    }

    .banner img {
        width: 100%; 
        height: 26vh; 
    }

    .banner-2 {
        margin: 0 6px;
        gap: 7px;
    }

    .banner-2 .banner-img img {
        width: 120px;
        height: 79px;
    }

    .desc .fa-sort-down {
        transform: translateY(-1px);
        padding-left: 2px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 55px;
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }

    .item-details .timer {
        width: 55%;
    }

    .list-items {
        display: grid;
        grid-template-columns: repeat(3,36%);
        width: 100%;
        gap: 1% 0%;
    }

    .list-items .item {
        width: 90%;
        padding: 10px;
    }

    .items {
        display: flex;
        flex-direction: column;
        margin: 22px;
        row-gap: 9px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px){
    .logo, .location, .search-bar, .login, .cart {
        margin: 0px 3px;
    }
    
    header .container {
        height: 50px;
    }

    .location .location-title {
        font-size: 10px;
    }

    .location .desc{
        font-size: 9px;
    }

    .logo svg {
        width: 75%;
        height: 20px;
    }

    .logo{
        text-align: center;
        width: 12%;
    }

    .search-bar {
        width: 55%;
        height: 27px;
        padding: 10px;
        gap: 3px;
    }

    .login {
        font-size: 10px;
    }

    .cart button {
        padding: 8px;
        font-size: 6px;
    }

    .location{
        width: 16%;
    }

    .search-bar .fa-magnifying-glass {
        width: 10px;
    }

    .search-bar input {
        font-size: 10px;

    }

    .search-input {
        margin-bottom: 6px;
    }

    .main-container {
        max-width: 80%;
    }

    .banner img {
        width: 100%; 
        height: 34vh; 
    }

    .banner-2 {
        margin: 0 10px;
        gap: 7px;
    }

    .banner-2 .banner-img img {
        width: 145px;
        height: 100px;
    }

    .desc .fa-sort-down {
        transform: translateY(-1px);
        padding-left: 2px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 55px;
    }

    .section-3-img img {
        width: 80%;
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(5, 21%);
    }

    .item-details .timer {
        width: 55%;
    }

    .list-items {
        display: grid;
        grid-template-columns: repeat(3,35%);
        width: 100%;
        gap: 1% 0%;
    }

    .list-items .item {
        width: 90%;
        padding: 10px;
    }

    .items {
        display: flex;
        flex-direction: column;
        margin: 22px;
        row-gap: 9px;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1200px){
    .logo, .location, .search-bar, .login, .cart {
        margin: 0px 3px;
    }
    
    header .container {
        height: 70px;
    }

    .location .location-title {
        font-size: 13px;
    }

    .location .desc{
        font-size: 11px;
    }

    .logo svg {
        width: 75%;
        height: 20px;
    }

    .logo{
        text-align: center;
        width: 12%;
    }

    .search-bar {
        width: 60%;
        height: 31px;
        padding: 10px;
        gap: 3px;
    }

    .login {
        font-size: 12px;
    }

    .cart button {
        padding: 8px;
        font-size: 8px;
    }

    .location{
        width: 16%;
    }

    .search-bar .fa-magnifying-glass {
        width: 10px;
    }

    .search-bar input {
        font-size: 10px;

    }

    .search-input {
        margin-bottom: 6px;
    }

    .main-container {
        max-width: 80%;
    }

    .banner img {
        width: 100%; 
        height: 34vh; 
    }

    .banner-2 {
        margin: 0 10px;
        gap: 7px;
    }

    .banner-2 .banner-img img {
        width: 145px;
        height: 100px;
    }

    .desc .fa-sort-down {
        transform: translateY(-1px);
        padding-left: 2px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 80px;
    }

    .section-3-img img {
        width: 80%;
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(5, 21%);
    }

    .item-details .timer {
        width: 55%;
    }

    .list-items {
        display: grid;
        grid-template-columns: repeat(3,35%);
        width: 100%;
        gap: 1% 0%;
    }

    .list-items .item {
        width: 90%;
        padding: 10px;
    }

    .items {
        display: flex;
        flex-direction: column;
        margin: 22px;
        row-gap: 9px;
    }
}

/* 
@media screen and (min-width: 346px) and (max-width: 350px){
    .location {
        width: 23%;
    }

    .cart{
        width: 11%;
    }

    .cart button {
        padding: 8px;
        font-size: 4px;
    }

    .search-bar{
        width: 44%;
    }
}

@media screen and (min-width: 350px) and (max-width: 370px){
    .location {
        width: 22%;
    }

    .search-bar {
        width: 37%;
    }
}

@media screen and (min-width: 370px) and (max-width: 400px){
    .location {
        width: 24%;
    }

    .search-bar {
        width: 37%;
    }

    .location .location-title {
        font-size: 7px;
    }
}

@media screen and (min-width: 400px) and (max-width: 430px){
    .location {
        width: 22%;
    }

    .search-bar {
        width: 41%;
    }

    .location .location-title {
        font-size: 7px;
    }
}

@media screen and (min-width: 430px) and (max-width: 457px){
    .location {
        width: 21%;
    }

    .search-bar {
        width: 41%;
    }

    .location .location-title {
        font-size: 7px;
    }
}


@media screen and (min-width: 456px) and (max-width: 470px){
    .location {
        width: 20%;
    }

    .search-bar {
        width: 46%;
    }

} */